<!DOCTYPE html>
<html>

<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>BRUSHED on GITHUB pages::TEST</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">
<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

<meta property="og:site_name" content="brushed">
<meta property="og:title" content="About Burshed on GITHUB pages">
<meta property="og:description" content="still testing stuff">
<meta property="og:url" content="https://brushed.github.io">
<meta property="og:type" content="website">
<style>
body {
    margin:1em auto;
    width:58em;
}
</style>
</head>
<body>


<body>
<h1>Hello World Again</h1>
<p>I'm hosted with GitHub Pages.</p>


<blockquote> Lorem ipsum dolor sit amet, brute iriure accusata ne mea. Eos suavitate referrentur ad, te duo agam libris qualisque, utroque quaestio accommodare no qui. Et percipit laboramus usu, no invidunt verterem nominati mel. Dolorem ancillae an mei, ut putant invenire splendide mel, ea nec propriae adipisci. Ignota salutandi accusamus in sed, et per malis fuisset, qui id ludus appareat.</blockquote>

<div>Example of an inline <code>&lt;code&gt;</code> element.</div>

<pre><code>
def fib(n: Int): Int = n match {
  case 0 | 1  => n
  case _      => fib(n-1) + fib(n-2)
}
</code></pre>


* item1
* item2


<v-app id="example-2" left-fixed-sidebar>
  <v-toolbar>
    <v-toolbar-side-icon @click.native.stop="nav2 = !nav2" />
    <v-toolbar-logo>Toolbar</v-toolbar-logo>
  </v-toolbar>
  <main>
    <v-sidebar left fixed drawer v-model="nav2">
      <v-list>
        <v-list-item v-for="i in 3" :key="i">
          <v-list-tile>
            <v-list-tile-title>Item {{ i }}</v-list-tile-title>
          </v-list-tile>
        </v-list-item>
      </v-list>
    </v-sidebar>
    <v-content>
      <v-container fluid>
        <div class="title">Main Content</div>
      </v-container>
    </v-content>
  </main>
  <v-footer>Footer</v-footer>
</v-app>


<div>
  <!--
  <v-alert success v-bind:value="true">
    This is a success alert.
  </v-alert>
  -->
  <div class="alert alert--success"><i class="material-icons icon alert__icon">check_circle</i><div>
    This is a success alert.
  </div></div>

  <!--
  <v-alert info v-bind:value="true">
    This is a info alert.
  </v-alert>
  -->
  <div class="alert alert--info"><i class="material-icons icon alert__icon">info</i><div>
    This is a info alert.
  </div></div>

  <!--
  <v-alert warning v-bind:value="true">
    This is a warning alert.
  </v-alert>
  -->
  <div class="alert alert--warning"><i class="material-icons icon alert__icon">priority_high</i><div>
    This is a warning alert.
  </div></div>
  <!--
  <v-alert error v-bind:value="true">
    This is a error alert.
  </v-alert>
  -->
  <div class="alert alert--error"><i class="material-icons icon alert__icon">warning</i><div>
    This is a error alert.
  </div></div>
</div>

<v-btn round primary dark>Rounded Button</v-btn>


<v-btn warning dark>Normal Button</v-btn>


<div>
  <v-card>
    <v-card-text>
      <div>{{ card_text }}</div>
    </v-card-text>
  </v-card>

  <v-card class="blue darken-1 white--text">
    <v-card-text>
      <div>{{ card_text }}</div>
    </v-card-text>
  </v-card>
</div>

<v-expansion-panel>
  <v-expansion-panel-content v-for="(item,i) in 5" :key="i">
    <div slot="header">Item</div>
    <v-card>
      <v-card-text class="grey lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
    </v-card>
  </v-expansion-panel-content>
</v-expansion-panel>


<v-menu offset-y>
  <v-btn primary dark slot="activator">Dropdown</v-btn>
  <v-list>
    <v-list-item v-for="item in items" :key="item">
      <v-list-tile>
        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
      </v-list-tile>
    </v-list-item>
  </v-list>
</v-menu>



<v-card class="grey lighten-4 elevation-0">
  <v-card-text>
    <v-container fluid>
      <v-row>
        <v-col xs12 sm12 md3>
          <v-switch label="Success" v-model="ex17" value="success" success light hide-details />
        </v-col>
        <v-col xs12 sm12 md3>
          <v-switch label="Info" v-model="ex17" value="info" info light hide-details />
        </v-col>
        <v-col xs12 sm12 md3>
          <v-switch label="Warning" v-model="ex17" value="warning" warning light hide-details />
        </v-col>
        <v-col xs12 sm12 md3>
          <v-switch label="Error" v-model="ex17" value="error" error light hide-details />
        </v-col>
      </v-row>
    </v-container>
  </v-card-text>
</v-card>


<v-tabs id="mobile-tabs-3" grow>
  <v-tab-item
    v-for="i in 3" :key="i"
    v-bind:href="'#mobile-tabs-3-' + i"
    slot="activators"
  >
    Item {{ i }}
  </v-tab-item>
  <v-tab-content
    v-for="i in 3" :key="i"
    v-bind:id="'mobile-tabs-3-' + i"
    slot="content"
  >
    <v-card>
      <v-card-text>{{ text }}</v-card-text>
    </v-card>
  </v-tab-content>
</v-tabs>


<div class="text-xs-center">
  <!--
  <v-btn v-tooltip:top="{ html: 'Top tooptip' }" class="primary white--text">Top</v-btn>
  -->
  <button type="button" class="primary white--text btn btn--raised" data-tooltip="Top tooptip" data-tooltip-location="top">
    <span class="btn__content">Top</span>
  </button>
  <!--
  <v-btn v-tooltip:right="{ html: 'Right tooptip' }" class="primary white--text">Right</v-btn>
  -->
  <button type="button" class="primary white--text btn btn--raised" data-tooltip="Right tooptip" data-tooltip-location="right">
    <span class="btn__content">Right</span>
  </button>
  <!--
  <v-btn v-tooltip:bottom="{ html: 'Bottom tooptip' }" class="primary white--text">Bottom</v-btn>
  -->
  <button type="button" class="primary white--text btn btn--raised" data-tooltip="Bottom tooptip" data-tooltip-location="bottom">
    <span class="btn__content">Bottom</span>
  </button>
  <!--
  <v-btn v-tooltip:left="{ html: 'Left Tooltip' }" class="primary white--text">Left</v-btn>
  -->
  <button type="button" class="primary white--text btn btn--raised" data-tooltip="Left Tooltip" data-tooltip-location="left">
    <span class="btn__content">Left</span>
  </button>
</div>



</body>
</html>